.App{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5a69b8;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading{
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0;
  color: white;
  z-index: 1;
  text-align: center;
}

@media (max-width: 800px){
  .heading{
    margin: 15px 0;
    font-size: 35px;
  }
}